body{
  margin: 0px;
  padding: 0px;
  background-color: var(--c10);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.calculadora{
background-color: var(--c9);
width: 300px;
height: 400px;
border-radius: 20px;
display: grid;
grid-template-columns: auto auto auto auto;
}












:root {
    --c1: #dd7e6b;
    --c2: #ea9999;
    --c3: #f9cb9c;
    --c9: #8e7cc3;
    --c4: #ffe599;
    --c5: #b6d7a8;
    --c8: #9fc5e8;
    --c6: #a2c4c9;
    --c7: #a4c2f4;
    --c10: #d5a6bd;
}
