.ola{
  background-color: red;
  width: 50px;
  height: 50px;
  margin: 1px;
  border-style: solid;
  border-color: blue;
}
p{
  font-size: 5px;
}

.number{
  padding-left:20px ;
  padding-right: ;
  padding-top: ;
  padding-bottom:10px ;
}
.letra{
  padding-bottom:10px ;
   padding-left: 20px;
}
.nombre{
  padding-left: 20px;
  padding-bottom: 
}
