body{
  height: 100vh;
  margin: 0;
  padding: 0;
}
#contenedor {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns:100%;
  grid-template-rows:10% 90%;
}
#nav {
  background-color:brown;
  display: grid;
  grid-template-columns:25% 25% 25% 25%;
  grid-template-rows:100%;
}

#content {
  display: grid;
  grid-template-columns:100%;
  grid-template-rows:100% 100% 100% 100%;
}
