#algo {
  width: 20px;
  height: 20px;
  background-color: red;
  transition-duration:3s ;
transition-timing-function: linear;
position: absolute;
z-index: 1;
}

.verde{
  width: 30%;
  height: 120px;
  background-color: green;

display: inline-block;

}
.anaranjado{
  width: 30%;
  height: 120px;
  background-color: orange;


display: inline-block;
}
.rosado{
  width: 30%;
  height: 120px;
  background-color: pink;
  display: inline-block;
}
.azul{
  width: 30%;
  height: 120px;
  background-color: blue;
display: inline-block;
}
.rojo{
  width: 30%;
  height: 120px;
  background-color: red;
display: inline-block;


}
.purpura{
  width: 30%;
  height: 120px;
  background-color: purple;
display: inline-block;
}
div{
  opacity: 0.2;
}
