.utu{
  width: 265px;
  height: 50px;
  margin: 10px;
  border-color: #e57373;
}

.owo{
  width: 50px;
  height: 50px;
  margin: 10px;
  background-color: #add;

}
.ere{
  width: 50px;
  height: 50px;
  margin: 10px;
    }
.sis{
  width: 50px;
  height: 50px;
  margin: 10px;
}
.ete{
  width: 50px;
  height: 50px;
  margin: 10px;
}
.pop{
  width: 50px;
  height: 50px;
  margin: 10px;
}
.nin{
  width: 50px;
  height: 50px;
  margin: 10px;
}
.aza{
  width: 50px;
  height: 50px;
  margin: 10px;
}
.wew{
  width: 50px;
  height: 50px;
  margin: 10px;
}
.uyu{
  width: 50px;
  height: 50px;
  margin: 10px;
}
.olo{
  width: 50px;
  height: 50px;
  margin: 10px;
}
.mim{
  width: 50px;
  height: 50px;
  margin: 10px;
}
.pep{
  width: 50px;
  height: 50px;
  margin: 10px;
}
.rar{
  width: 50px;
  height: 50px;
  margin: 10px;
  margin-left: 84px;
}
.vov{
  width: 50px;
  height: 50px;
  margin: 10px;
  margin-left: 84px;
}
.fuf{
  width: 275px;
  height: 50px;
  margin: 10px;
}
fieldset{
  height: 425px;
  width: 100px;
  margin:10px;
  margin-top: 70px;
  margin-left:150px;
  border-color: #bac;
}
